<div>
<% if logged_in? %>
  <div>
    <%= render "shared/user_info" %>
    <%= render "shared/post_form" %>
  </div>
  <br>
  <br>
  <br>
  <br>

  <div>
    <div>
      <h3 class="underline-timeline col-md-offset-5">タイムライン</h3>
      <br>
    </div>
    <% @feed_items.each do |post| %>
      <% if post.user.image? %>
          <%= image_tag post.user.image.url, :size =>'50x50' %>
      <% else %>
          <%= image_tag "default.jpg", :size =>'50x50' %>
      <% end %>
      <span>
          <%= link_to post.user.name, post.user %>
      </span>
      <br>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= post.title %>
        </div>
        <div class="panel-body">
          <p><%= post.content %></p>
          <p>
          <% if post.image.file.nil? %>
          <% else %> 
            <%= image_tag post.image.url %>
          <% end %>
          </p>
          <span>
            <%= time_ago_in_words(post.created_at) %>前に作成
            <br>
          </span>
          <span>
            <% if post.favorited_by?(current_user) %>
              <%= link_to "いいねを消す:", post_favorites_path(post.id), method: :delete %>
              <%= post.favorites.count %>
            <% else %>
              <%= link_to "いいねする:", post_favorites_path(post.id), method: :post %>
              <%= post.favorites.count %>
            <% end %>
            <br>
          </span>
          <%= link_to "コメントする", new_post_comments_path(post.id)  %>
          <br>
          <% if current_user?(post.user) %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に消しますか？" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<div class = "home-background-image">
  <ul class="text_against_image">
    <h1>Let's post.</h1>
    <p>Connectは、日々の頑張りを共有してモチベーションを上げるサービスです。</p>
    <p>今日の取組みや成果について投稿することで、あなたの頑張りを共有できます。</p>
    <p>他の方の「頑張り」にコメントをしたり、いいねを送ることができます。</p>
    <p>さっそく投稿をしてモチベーションを上げてみましょう！</p>
  </ul>
  <br><br><br><br>
  <ul class="row">
    <%= link_to "新規登録", signup_path, class: "btn btn-danger col-md-2 col-md-offset-5 btn-lg" %>
    <br><br><br>
    <%= link_to "ログイン", login_path, class: "btn btn-default col-md-2 col-md-offset-5 btn-lg" %>
    <br><br><br>
    <%= link_to "ゲストユーザー", guest_path, method: :post, class: "btn btn-info col-md-2 col-md-offset-5 btn-lg" %>
  </ul>
</div>
<% end %>
