<div>
<% if logged_in? %>
  <div class="ml-40px">
    <%= render "shared/user_info" %>
    <%= render "shared/post_form" %>
  </div>
  <div class="mt-100px">
    <div>
      <h1 class="underline-timeline ml-450px">タイムライン</h1>
    </div>
    <%= render "shared/feed_items"%>
  </div>
</div>
<% else %>
<div class = "home-background-image">
  <ul class="text_against_image">
    <%= render "layouts/help" %>
  </ul>
  <div class="mt-100px">
    <p><%= link_to "新規登録", signup_path, class: "btn btn-danger col-md-offset-5 btn-lg w-25" %></p>
    <p><%= link_to "ログイン", login_path, class: "btn btn-default col-md-offset-5 btn-lg w-25" %></p>
    <p><%= link_to "ゲストユーザー", guest_path, method: :post, class: "btn btn-info col-md-offset-5 btn-lg w-25" %></p>
  </div>
</div>
<% end %>
