<div>
<% if logged_in? %>
  <div>
    <%= render "shared/user_info" %>
    <%= render "shared/post_form" %>
  </div>
  <div class="mt-100px">
    <div>
      <h3 class="underline-timeline col-md-offset-5">タイムライン</h3>
    </div>
    <% @feed_items.each do |post| %>
      <% if post.user.image? %>
          <%= image_tag post.user.image.url, class: "icon-size-50px" %>
      <% else %>
          <%= image_tag "default.jpg", class: "icon-size-50px" %>
      <% end %>
      <%= link_to post.user.name, post.user %>
      <div class="panel panel-default">
        <div class="panel-heading">
          <%= post.title %>
        </div>
        <div class="panel-body">
          <p><%= post.content %></p>
          <% if post.image.file.nil? %>
          <% else %> 
            <%= image_tag post.image.url %>
          <% end %>
          <p><%= time_ago_in_words(post.created_at) %>前に作成</p>
          <p>
            <% if post.favorited_by?(current_user) %>
              <%= link_to "いいねを消す:", post_favorites_path(post.id), method: :delete %>
              <%= post.favorites.count %>
            <% else %>
              <%= link_to "いいねする:", post_favorites_path(post.id), method: :post %>
              <%= post.favorites.count %>
            <% end %>
          </p>
          <p><%= link_to "コメントする", new_post_comments_path(post.id) %></p>
          <% if current_user?(post.user) %>
            <%= link_to "削除", post, method: :delete, data: { confirm: "本当に消しますか？" } %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% else %>
<div class = "home-background-image">
  <ul class="text_against_image">
    <%= render "layouts/help" %>
  </ul>
  <div class="mt-100px">
    <p><%= link_to "新規登録", signup_path, class: "btn btn-danger col-md-offset-5 btn-lg w-25" %></p>
    <p><%= link_to "ログイン", login_path, class: "btn btn-default col-md-offset-5 btn-lg w-25" %></p>
    <p><%= link_to "ゲストユーザー", guest_path, method: :post, class: "btn btn-info col-md-offset-5 btn-lg w-25" %></p>
  </div>
</div>
<% end %>
