<% if logged_in? %>
  <%= render "shared/user_info" %>
  <%= render "shared/post_form" %>
  <div>
    <h3>タイムライン</h3>
    <%= render "shared/feed" %>
  </div>
<% else %>
  <h1>Connect</h1>
  <p>今日やることを投稿してみよう</p>
　<%= link_to "新規登録", signup_path, class: "btn btn-default" %><br>
　<%= link_to "ログイン", login_path, class: "btn btn-default" %>
<% end %>