<div>
  <% if @post.user.image? %>
    <%= image_tag @post.user.image.url, class: "icon-size-50px" %>
  <% else %>
    <%= image_tag "default.jpg", class: "icon-size-50px" %>
  <% end %>
  <%= @post.user.name %>
  <div class="panel panel-default post-width">
    <div class="panel-heading">
      <div class="font-20px ml-20px">
        <%= @post.title %>
      </div>
    </div>
    <div class="panel-body">
      <div class="ml-20px">
        <p class="font-17px"><%= @post.content %></p>
        <% unless @post.image.file.nil? %>
          <%= image_tag @post.image.url, class: "mt-20px" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div>
  <% if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
      <% if comment.user.image? %>
        <%= image_tag comment.user.image.url, class: "icon-size-50px" %>
      <% else %>
        <%= image_tag "default.jpg", class: "icon-size-50px" %>
      <% end %>
      <%= comment.user.name %>
      <div class="panel panel-default post-width">
        <div class="panel-body">
          <p class="ml-20px font-17px"><%= comment.content %></p>
          <div class="mt-20px ml-850px">
            <p><%= time_ago_in_words(comment.created_at) %>前に作成</p>
            <% if current_user?(comment.user) %>
              <p><%= link_to "削除", post_comments_path(comment.post), method: :delete, data: { confirm: "本当に消しますか？" } %></p>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<div>
  <%= form_for([@post, @comment]) do |f| %>
    <p><%= f.label :コメント, class: "mt-50px" %></p>
    <p><%= f.text_field :content, class: "form-size-lg" %></p>
    <p><%= f.submit "コメントする", class: "btn btn-info button-size-lg mt-10px" %></p>
  <% end %>
</div>
