<h1>マイページ</h1>
<h1>
    <% if @user.image? %>
      <%= image_tag @user.image.url, :size =>'100x100'  %>
    <% else %>
      <%= image_tag "default.jpg", :size =>'100x100' %>
    <% end %>
    <%= @user.name %>
</h1>

<div>
  <% if @user.posts.any? %>
    <%= render @posts %>
    <%= will_paginate @posts %>
  <% end %>
</div>

