<div class="row">
  <h1 class="under-mypage col-md-offset-5">マイページ</h1>
  <br>
</div>
<div class="row">
  <h1 class="col-sm-4">
      <% if @user.image? %>
        <%= image_tag @user.image.url, :size =>'100x100'  %>
      <% else %>
        <%= image_tag "default.jpg", :size =>'100x100' %>
      <% end %>
      <%= @user.name %>
  </h1>
  
  <div class="col-sm-8">
    <br><br>
    <% if @user.posts.any? %>
      <%= render @posts %>
      <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

