<% if @user.image? %>
    <%= image_tag @user.image.url %>
<% else %>
    <%= image_tag "default.jpg", :size =>'50x50' %>
<% end %>
<%= link_to post.user.name, post.user %>
<div class="panel panel-default">
    <div class="panel-heading">
        <%= post.title %>
    </div>
    <div class="panel-body">
        <p><%= post.content %></p>
        <span>
            <% if post.image.file.nil? %>
            <% else %> 
                <%= image_tag post.image.url %>
            <% end %>
        </span>
        <p><%= time_ago_in_words(post.created_at) %>前に作成</p>
        <p>
            <% if post.favorited_by?(current_user) %>
                <%= link_to "いいねを消す:", post_favorites_path(post.id), method: :delete %>
                <%= post.favorites.count %>
            <% else %>
                <%= link_to "いいねする:", post_favorites_path(post.id), method: :post %>
                <%= post.favorites.count %>
            <% end %>
        </p>
        <p><%= link_to "コメントする", new_post_comments_path(post.id) %></p>
        <% if current_user?(post.user) %>
            <p><%= link_to "削除", post, method: :delete, data: { confirm: "本当に消しますか？" } %></p>
        <% end %>
     </div>
</div>